appname = gohumanloop-feishu
httpport = 9800
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true

# wework
appid = XXXXX # 企业应用ID
appsecret = XXXXX # 应用Secret

# template
approve_template_id = B102B40F-E288-4A48-8220-FB0E69990222
info_template_id = 4B131588-A5E2-4CE6-91D1-5A208CA62EDA
creator_userid = ou_ed1d616f3023f7781808ce479b5f0fdd
approver_userid = ou_ed1d616f3023f7781808ce479b5f0fdd

# database
datapath = ./data/gohumanloop.db