appname = gohumanloop-feishu
httpport = 9800
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true

# wework
agentid = 1000003
corpsecret = XXXXX
corpid = XXXXX
ptoken = XXXXX
pkey = XXXXX

# template
approve_template_id = 8TmoaR5xEaZsuzKyRT4Zt82FLYCYXVN5EVk6R
info_template_id = 3WN63LowuwFRsDXft1GbiQi4NrYyLApeejYCBs3S
creator_userid = ChenFuDong
approver_userid = ChenFuDong

# database
datapath = ./data/gohumanloop.db